$color-primary: #3e606f;
$color-primary-dark: #324d59;
$color-primary-light: #4e788b;

$color-secondary: #ff9875;
$color-secondary-light: #ffddd2;
$color-secondary-dark: #ff602b;

$color-tertiary: #75ddff;
$color-tertiary-light: #d2f4ff;
$color-tertiary-dark: #2bcbff;

$color-white: #ffffff;
$color-black: #000000;

$color-beige: #ffffdd;
$color-beige-dark: #ffff7e;
$color-beige-green: #ddffdd;
$color-beige-green-dark: #7eff7e;
$color-beige-purple: #ddddff;
$color-beige-pink: #ffdddd;
$color-beige-pink-dark: #ff7e7e;

$color-cancel: #ee7c75;
$color-active: #eb645b;

$color-green: #00ff7f;
$color-green-dark: #23a254;

$color-grey-light: #e8e8e8;
$color-grey-dark: #777;
// Font
$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$large-font-size: 2.4rem;
$huge-font-size: 3.6rem;
$hero-font-size: 7rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Images
$app-box-1: '../../../assets/grocery-bg01.jpg';
$app-box-2: '../../../assets/dreamlines2.png';
$github-icon: '../../../assets/github.png';
$contact-bg: '../../../assets/contact01.png';
$header-hero: '../../assets/hero03.png';
$resume-bg: '../../assets/resume-papers03.png';
$about-bg: '../../assets/girls01.jpg';
