.about {
  position: relative;
  padding-top: 12rem;
  height: 80rem;

  &__info-box {
    position: absolute;

    width: 120rem;
    height: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(tablet) {
      width: 90rem;
    }
    @include respond(phone) {
      width: 100%;
      height: auto;
      padding: 1rem;
    }
  }
}
