    .form {
        &__group:not(:last-child) {
            margin-bottom: 2rem;

            @include respond(phone) {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }

    
        &__input, &__comment {
            font-size: 1.5rem;
            font-family: inherit;
            color: inherit;
            padding: 1.5rem 2rem;
            border-radius: 2px;
            background-color: rgba($color-white, .5);
            border: none;
            border-bottom: 3px solid transparent;
            width: 90%;
            display: block;
            transition: all .3s;
            
            @include respond(phone) {
                width: 100%;
            }

            &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color-black, .1);
                border-bottom: 3px solid $color-primary;
            }
    
            &:focus:invalid {
                border-bottom: 3px solid $color-secondary;
            }
    
            &::-webkit-input-placeholder {
                color: $color-black;
            }
            
        }

        &__comment {
            height: 10rem;
            resize: none;
            overflow: hidden;
         }    

        &__label {
            font-size: 1.2rem;
            font-weight: 700;
            margin-left: 2rem;
            margin-top: .7rem;
            display: block;
            transition: all .3s;
        }

        &__input:placeholder-shown + &__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }

        &__comment:placeholder-shown + &__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10rem);
        }
    }